:root {
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --size-font-base: 1.6rem;
  --size-font-h1: 2.4rem;
  --size-font-h2: 2rem;
  --size-font-h3: 1.8rem;
  --colour-background: #eee;
  --colour-text: #000;
  --colour-text-negative: #fff;
  --colour-link: #1F9AAD;
  --colour-link-hover: #109356;
  --colour-header-background: #245652;
  --colour-header-text: #fff;
  --colour-form-background: #e0e0e0;
  --colour-form-text: #000;
  --colour-form-actions-background: #d0d0d0;
  --colour-card-background: #D7F9FE;
  --colour-card-text: #000;
  --colour-footer-background: #000;
  --colour-footer-text: #fff;
  --colour-footer-link: #2DE1FC;
  --colour-footer-link-hover: #16C172;
  --colour-table-background: #fff;
  --colour-table-background-alt: #ddd;
  --colour-table-border: #000;
  --length-gutter: 1rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-system);
  font-size: var(--size-font-base);
  background-color: var(--colour-background);
  color: var(--colour-text);
}

/* General styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0 0 var(--length-gutter);
  padding: 0;
}

:last-child {
  margin-bottom: 0;
}

a {
  color: var(--colour-link);
}
a:hover,
a:focus {
  color: var(--colour-link-hover);
}

input[type="submit"] {
  margin-top: var(--length-gutter);
  padding: var(--length-gutter);
  background-color: var(--colour-link);
  color: var(--colour-text-negative);
  border: none;
  font-family: var(--font-system);
  font-size: var(--size-font-base);
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--colour-link-hover);
}

/* Header */
.header {
  padding: var(--length-gutter);
  background-color: var(--colour-header-background);
  color: var(--colour-header-text);
}

/* Page layout */


/* Dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard > [class*="dashboard--"] {
  padding: var(--length-gutter);
}

.dashboard--areas {
  background-color: var(--colour-form-background);
  color: var(--colour-form-text);
  order: 2;
}

.dashboard--summaries {
  order: 1;
}

@media only screen and (min-width: 640px) {
  .dashboard {
    flex-direction: row;
    align-items: stretch;
  }

  .dashboard--areas {
    order: 1;
    max-width: 320px;
    flex: 1 0 320px;
  }

  .dashboard--summaries {
    order: 2;
    flex: 2 1 auto;
  }
}

/* Areas form */
.dashboard--areas ul,
.dashboard--areas li {
  display: block;
  list-style-type: none;
}

.area-form-element {
  display: flex;
  padding: calc(var(--length-gutter) / 2) 0;
}

.area-form-element  > span {
  margin-left: calc(var(--length-gutter) / 2);
}

.dashboard--areas input[type="submit"] {
  display: block;
  width: 100%;
}

.area-form--actions {
  position: sticky;
  bottom: 0vh;
  margin: calc(0px - var(--length-gutter));
  padding: var(--length-gutter);
  background-color: var(--colour-form-actions-background);
}

.area-form--actions input[type="submit"] {
  margin-bottom: var(--length-gutter);
}

/* Summaries cards */
.summaries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0 - var(--length-gutter));
}

.area-case-summary {
  flex: 2 1 calc(100% - 2 * var(--length-gutter));
  max-width: calc(100% - 2 * var(--length-gutter));
  width: 100%;
  margin: var(--length-gutter);
  padding: var(--length-gutter);
  background-color: var(--colour-card-background);
  color: var(--colour-card-text);
}

@media only screen and (min-width: 960px) {
  .area-case-summary {
    flex: 2 1 calc(50% - 2 * var(--length-gutter));
    max-width: calc(50% - 2 * var(--length-gutter));
  }
}

@media only screen and (min-width: 1280px) {
  .area-case-summary {
    flex: 2 1 calc(33.33333333% - 2 * var(--length-gutter));
    max-width: calc(33.33333333% - 2 * var(--length-gutter));
  }
}

.area-case-summary div[class*="area-case-summary--"]:not(:last-child) {
  margin-bottom: calc(2 * var(--length-gutter));
}

/* Summaries Footer */
.summaries-info ul {
  display: block;
  list-style-type: none;
}

/* Area Cases Page */
.area-stats {
  display: flex;
  flex-wrap: wrap;
}

.stat-card {
  display: flex;
  flex-direction: column;
  flex: 2 1 calc(100% - 2 * var(--length-gutter));
  margin: var(--length-gutter);
  padding: var(--length-gutter);
  background-color: var(--colour-card-background);
  color: var(--colour-card-text);
}

@media only screen and (min-width: 400px) {
  .stat-card {
    flex: 2 1 calc(50% - 2 * var(--length-gutter));
  }
}

@media only screen and (min-width: 768px) {
  .stat-card {
    flex: 2 1 calc(25% - 2 * var(--length-gutter));
  }
}

.stat-card__title {
  font-size: var(--size-font-h3);
}

.star-card__stat {
  font-size: var(--size-font-h1);
}

.cases-chart {
  margin: var(--length-gutter);
}

.cases-table {
  margin: var(--length-gutter);
  padding: var(--length-gutter);
  width: calc(100% - 2 * var(--length-gutter));
  border-collapse: collapse;
}

.cases-table__row:not(:last-child) > td {
  border: 0;
  border-bottom: 1px solid var(--colour-table-border);
}

.cases-table__row:nth-child(2n + 1) {
  background-color: var(--colour-table-background);
}

.cases-table__row:nth-child(2n) {
  background-color: var(--colour-table-background-alt);
}

.cases-table__row.cases-table__row--header {
  position: sticky;
  top: 0vh;
  background-color: var(--colour-card-background);
}

.cases-table__row.cases-table__row--header > th {
  border-bottom: 1px solid var(--colour-table-border);
}

.cases-table__date,
.cases-table__cases,
.cases-table__cumlitive {
  padding: var(--length-gutter);
}

.cases-table__date {
  text-align: left;
}

.cases-table__cases,
.cases-table__cumlitive {
  text-align: right;
}

/* Footer */
.footer {
  padding: var(--length-gutter);
  background-color: var(--colour-footer-background);
  color: var(--colour-footer-text);
  text-align: center;
}

.footer a {
  color: var(--colour-footer-link);
}
.footer a:hover,
.footer a:focus {
  color: var(--colour-footer-link-hover);
}
